<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- setter注入字面量 -->
    <bean id="personSetter" class="com.jpeony.spring.entity.PersonSetter">
        <property name="name" value="tom"/>
        <property name="sex" value="男"/>
        <property name="age" value="26"/>
        <property name="hobby" value="爱好女人,哈哈！开个玩笑！"/>
    </bean>

</beans>