<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 构造器注入字面量 -->
    <bean id="personConstructor" class="com.jpeony.spring.entity.PersonConstructor">
        <!-- 第一种方式: 根据参数索引位置匹配 -->
        <constructor-arg index="0" value="tom"/>
        <constructor-arg index="1" value="男"/>
        <constructor-arg index="2" value="26"/>
        <constructor-arg index="3" value="爱好女人,哈哈！开个玩笑！"/>
        <!-- 第二种方式: 根据参数类型匹配 -->
        <!--<constructor-arg value="tom" type="java.lang.String"/>
        <constructor-arg value="男" type="java.lang.String"/>
        <constructor-arg value="26" type="int"/>
        <constructor-arg value="爱好女人,哈哈！开个玩笑！" type="java.lang.String"/>-->
    </bean>

</beans>